

<EditForm Model="Movie" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="Movie.Title"></InputText>
            <ValidationMessage For="@(() => Movie.Title)" />
        </div>
    </div>
    <div class="form-group">
        <label>Release Date:</label>
        <div>
            <InputDate class="form-control" @bind-Value="Movie.ReleaseDate"></InputDate>
        </div>
    </div>
    <div class="form-group">
        <label>Poster URL:</label>
        <div>
            <InputText class="form-control" @bind-Value="Movie.Poster"></InputText>
        </div>
    </div>
    <div class="form-group">
        <p>Actors</p>
        <GenericMultipleSelectComponent ModelType="ActorDto" ModelList="Actors">
            <ItemTemplate Context="actor">
                <option value="@actor.Id"> @actor.FirstName @actor.LastName</option>
            </ItemTemplate>
        </GenericMultipleSelectComponent>
    </div>
    <div class="form-group">
        <p>Genres</p>
        <GenericMultipleSelectComponent ModelType="GenreDto" ModelList="Genres">
            <ItemTemplate Context="genre">
                <option value="@genre.Id"> @genre.Name</option>
            </ItemTemplate>
        </GenericMultipleSelectComponent>
    </div>
    <button type="submit" class="btn btn-success">
        <img src="https://www.mansarovar.com.co/app/PQRS/LibraryCSS/giphy.gif" style="width: 20px; height: 20px;" class="@(Loading ? "" : "d-none")">
        Save
    </button>
</EditForm>

@code {
    [Parameter]
    public MovieDto Movie { get; set; }
    [Parameter]
    public bool Loading { get; set; }
    [Parameter]
    public List<ActorDto> Actors { get; set; }
    [Parameter]
    public List<GenreDto> Genres { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
