@inject IJSRuntime JS

<EditForm Model="movie" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="movie.Title"></InputText>
            <ValidationMessage For="@(() => movie.Title)" />
        </div>
    </div>
    <div class="form-group">
        <label>Release Date:</label>
        <div>
            <InputDate class="form-control" @bind-Value="movie.ReleaseDate"></InputDate>
        </div>
    </div>
    <div class="form-group">
        <label>Poster URL:</label>
        <div>
            <InputText class="form-control" @bind-Value="movie.Poster"></InputText>
        </div>
    </div>
    <div class="form-group">
        <label for="Actors">Actors</label>
        <GenericMultipleSelectComponent ModelType="ActorDto" ModelList="Actors" SelectListName="Actors" >
            <ItemTemplate Context="actor">
                <option value="@actor.Id"> @actor.FirstName @actor.LastName</option>
            </ItemTemplate>
        </GenericMultipleSelectComponent>
    </div>
    <div class="form-group">
        <label for="Genres">Genres</label>
        <GenericMultipleSelectComponent ModelType="GenreDto" ModelList="Genres" SelectListName="Genres">
            <ItemTemplate Context="genre">
                <option value="@genre.Id"> @genre.Name</option>
            </ItemTemplate>
        </GenericMultipleSelectComponent>
    </div>
    <button type="submit" class="btn btn-success">
        <img src="https://www.mansarovar.com.co/app/PQRS/LibraryCSS/giphy.gif" style="width: 20px; height: 20px;" class="@(Loading ? "" : "d-none")">
        Save
    </button>
</EditForm>

@code {
    [Parameter]
    public MovieDto movie { get; set; }
    [Parameter]
    public bool Loading { get; set; }
    [Parameter]
    public List<ActorDto> Actors { get; set; }
    [Parameter]
    public List<GenreDto> Genres { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
